@use '../../assets/styles/default' as *;

.header {
  background-color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: $border;

  .code-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-200;

      .code {
        transform: scale(1.05);
      }
    }
  }

  nav {
    ul {
      display: flex;
      gap: 4rem;
      list-style: none;

      li {
        font-size: 1.4rem;
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s ease-in;

        .activeLink {
          color: $primary-200;
        }

        a {
          transition: all 0.2s ease-in;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.015);
          a {
            color: $primary-200;
          }
        }
      }
    }
  }

  .toggle-theme {
    cursor: pointer;
    transition: color 0.2s ease-in;

    &:hover {
      color: $primary-200;
    }
  }
}
