@use '../../assets/styles/default' as *;

.header {
  background-color: #FFF;
  min-height: 5.5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .code-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-200;

      .code {
        transform: scale(1.05);
      }
    }
  }

  nav {
    ul {
      display: flex;
      gap: 4rem;
      list-style: none;

      li {
        font-size: 1.4rem;
        display: inline-block;
        cursor: pointer;
        transition: transform 0.2s ease-in;

        .activeLink {
          color: $primary-200;
        }

        a {
          transition: all 0.2s ease-in;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.015);
          a {
            color: $primary-200;
          }
        }
      }
    }
  }

  .toggleIcons {
    cursor: pointer;
    transition: color 0.2s ease-in;
    display: flex;
    gap: 2rem;

    &:hover {
      color: $primary-200;
    }
  }

  .toggleMenuNav {
    display: none;
  }
}

@media (max-width: 450px) {
  .toggleMenuNav {
    display: flex !important;
  }
  .openedNav {
    transform: translateY(7rem);
  }
  nav {
    display: flex;
    position: absolute;
    z-index: 1;
    inset: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transform: translateY(-111.5vh);

    ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      li {
        a {
          font-size: 3rem;
        }
      }
    }
  }
}
