@use '../../assets/styles/default.scss' as *;

.container {
  width: 100%;

  h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 1rem;
  }

  .line {
    width: 80%;
    border-radius: 4px;
    margin: 0 auto 5rem;
    height: 5px;
    background: $primary-400;
    box-shadow: $box-shadow;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    .skillsIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.2s ease-in;
      padding: 1.5rem;

      span {
        opacity: 0.7;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        padding-top: 1rem;
        transition: opacity 0.2s ease-in;
      }

      &:hover {
        transform: translateY(-4px);
        span {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 360px) {
  .skillsGrid {
    gap: 0 !important;

    .skillsIcon {
      padding: 1rem !important;
    }
  }
}
