$background: #FFF7F8;
$text-color: #191716;

$dark-text-color: #FFF7F8;
$dark-background: #191716;

$salmon-100: #FFBBB2;
$salmon-200: #FF9080;
$salmon-400: #FE3A1C;

$gray-100: #D9D9D9;
$gray-400: #8C8C8C;
$gray-700: #404040;

$border: 1px solid $gray-100;
