$primary-50: #FFE3EA;
$primary-100: #ffb4c2;
$primary-200: #FB859B;
$primary-300: #f75473;
$primary-400: #f4254b;
$primary-500: #da0b32;
$primary-600: #ab0527;
$primary-700: #7a011b;

$gray-100: #D9D9D9;
$gray-400: #8C8C8C;
$gray-700: #404040;

$background: #fceef2;
$text-color: #3C3744;

$dark-text-color: #F6F5FC;
$dark-background: #1A1A1A;

$border: 1px solid rgba(140, 140, 140, 0.15);
