@use 'default' as *;

:root {
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

.light {
  .background {
    background: $background;
  }

  .text {
    color: $text-color;
  }
}

.dark {
  .text {
    color: $dark-text-color;
  }

  .background {
    background-color: $dark-background;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
